requests==2.25.1
Flask==1.1.2
Flask-MySQL==1.5.1
Flask-MySQLdb==0.2.0
aiohttp==3.7.4.post0
aioredis==2.0.0
altgraph==0.17
appdirs==1.4.4
APScheduler==3.6.3
arabic-reshaper==2.1.3
async-timeout==3.0.1
asyncio==3.4.3
attrs==21.2.0
AutoChromedriver==2.2.1
Babel==2.9.1
backports.shutil-get-terminal-size==1.0.0
bcrypt==3.2.0
beautifulsoup4==4.9.3
biopython==1.79
bs4==0.0.1
cachetools==4.2.2
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
choice==0.1
circular==0.1
click==7.1.2
colorama==0.4.4
colored==1.4.2
config==0.5.0.post0
cssselect==1.1.0
cycler==0.10.0
DateTime==4.3
decorator==4.4.2
diagrams==0.20.0
discord-webhook==0.14.0
discord.py==1.7.2
discordwebhook==1.0.2
disputils==0.1.3
dnspython==1.16.0
embed==0.1.0
eventlet==0.31.0
extract-emails==4.1.0
fake-useragent==0.1.11
feedparser==6.0.8
filelock==3.0.12
Flask==2.0.1
Flask-MySQLdb==0.2.0
furl==2.1.2
future==0.18.2
gevent==21.1.2
graphviz==0.16
greenlet==1.1.0
grequests==0.6.0
GridDataFormats==0.5.0
gsd==2.4.2
hashcat-beta==5.1.0.post4
hashcrack==0.9
hashID==3.1.4
html5lib==1.1
HTMLParser==0.0.2
httplib2==0.19.1
idna==2.10
itsdangerous==2.0.1
Jinja2==3.0.1
joblib==1.0.1
kiwisolver==1.3.1
lxml==4.6.3
MarkupSafe==2.0.1
matplotlib==3.4.2
MechanicalSoup==1.1.0
mechaniz==0.0.1
mechanize==0.4.5
mmtf-python==1.1.2
mock==4.0.3
msgpack==1.0.2
multidict==5.1.0
mysql==0.0.3
mysqlclient==2.0.3
N4Tools==1.7.1
networkx==2.5.1
numpy==1.21.1
orderedmultidict==1.0.1
pandas==1.3.1
parse==1.19.0
pefile==2021.5.24
Pillow==8.2.0
playwright==1.11.2
prettytable==2.1.0
progress==1.5
progressbar==2.5
prompt-toolkit==3.0.18
psutil==5.8.0
pyarmor==6.7.3
pycparser==2.20
pyee==8.1.0
pyfiglet==0.7.5
pyinstaller==4.3
pyinstaller-hooks-contrib==2021.2
pyparsing==2.4.7
pyppeteer==0.2.5
PyQt5==5.15.4
pyqt5-plugins==5.15.4.2.2
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
pyqt5-tools==5.15.4.3.2
PyQt5Designer==5.14.1
pyquery==1.4.3
pytesseract==0.3.7
python-bidi==0.4.2
python-dateutil==2.8.2
python-dotenv==0.17.1
python-telegram-bot==13.7
pytz==2021.1
pywin32==301
pywin32-ctypes==0.2.0
PyYAML==5.4.1
qt5-applications==5.15.2.2.2
qt5-tools==5.15.2.1.2
random2==1.0.1
readchar==3.0.4
reprint==0.6.0
requests==2.25.1
requests-file==1.5.1
requests-html==0.10.0
scapy==2.4.5
scipy==1.7.0
selenium==3.141.0
selenium-stealth==1.0.6
selenium-utils==0.4
sgmllib3k==1.0.0
simple-term-menu==1.1.0
six==1.16.0
slowprint==0.0.1
soupsieve==2.2.1
style==1.1.0
telebot==0.0.4
telegram==0.0.1
telegram.py==0.3.1
telepot==12.7
termcolor==1.1.0
tiktok-scraper==1.0.3
TikTokApi==3.9.6
tldextract==3.1.0
tornado==6.1
tqdm==4.60.0
twitter-scraper==0.4.4
typing-extensions==3.10.0.0
tzlocal==2.1
undetected-chromedriver==3.0.2
update==0.0.1
urllib3==1.26.2
urlopen==1.0.0
user-agent==0.1.9
useragent==0.1.1
utils==1.0.1
w3lib==1.22.0
wcwidth==0.2.5
webencodings==0.5.1
websockets==8.1
Werkzeug==2.0.1
win-unicode-console==0.5
yarl==1.6.3
youtube-dl==2021.6.6
zope.event==4.5.0
zope.interface==5.4.0

